.nav-content{
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-menu{
    display: flex;
    flex-direction: row;
    align-content: center;
}
.content-aling-center{
display: flex;
    align-items: center;
}
.nav-contact{
	display: flex;
    flex-direction: column;
    align-content: center;
}
.espai-highlight {
    color: #a91118;
    font-weight: 500;
}
.estilo-1{
    background-position: left top;
    background-repeat: no-repeat;
   /* padding-top: 80px; 
    padding-right: 30px; 
    padding-bottom: 30px; 
    padding-left: 30px; 
    margin-bottom: 0px; 
    margin-top: 0px; */
    border-width: 0px 0px 0px 0px; 
    background-color: #fff;
    border-style: solid;
}
.estilo-2 {
    background-color: rgba(255, 255, 255, 0);
    background-position: left top;
    background-repeat: repeat;
    padding: 70px 10% 120px;
    margin-bottom: 0px;
    margin-top: 0px;
    border-width: 0px;
    border-color: rgb(234, 233, 233);
    border-style: solid;
/*   background-image: url(home1.jpg);*/
}
.estilo{
   /*   background-image: url(images/home1.jpg);*/
    background-color: rgba(255, 255, 255, 0);
    background-position: left top;
    background-repeat: repeat;
    padding: 70px 10% 120px;
    margin-bottom: 0px;
    margin-top: 0px;
    border-width: 0px;
    border-color: rgb(234, 233, 233);
    border-style: solid;
}
.cajon-1{
  /*background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: #fff;/*rgb(177, 174, 167);*/
    padding: 50px 70px 30px;
    min-height: 170px;
    max-width: 700px;
    min-width: 300px;
    margin-top: -130px !important;
    height: auto;
    width: auto;
}
.cajon-2 {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    padding: 50px 70px 30px;
    min-height: 800px;
    width: 700px;
    height: auto;
}
#main {
  width: 881px;
  height: 295px;
 display: flex;
}
#main_a {
  width: 881px;
  height: 150px;
 display: flex;
}
#main_b {
  width: 881px;
  height: 250px;
 display: flex;
}
.img-icon{
  width: 100px;
}
@media  (min-width: 320px) {
  #main_a {
    width: 300px;
    height: 150px;
    display: flex;
  }
  #main {
  width: 300px;
  height: 295px;
 display: flex;
}
#main_b {
  width: 300px;
  height: 210px;
 display: flex;
}
h1{
  font-size: 22px;
}
h3{
  font-size: 14px;
}
}
@media  (min-width: 360px) {
  #main_a {
    width: 300px;
    height: 150px;
    display: flex;
  }

  #main {
  width: 300px;
  height: 295px;
 display: flex;
}
#main_b {
  width: 300px;
  height: 220px;
 display: flex;
}
h1{
  font-size: 24px;
}
h3{
  font-size: 18px;
}
}
@media  (min-width: 393px) {
#main_a {
    width: 300px;
    height: 150px;
    display: flex;
  }

  #main {
  width: 300px;
  height: 295px;
 display: flex;
}
#main_b {
  width: 300px;
  height:240px;
 display: flex;
}
h1{
  font-size: 24px;
}
h3{
  font-size: 18px;
}
}

@media  (min-width: 425px) {
#main_a {
    width: 400px;
    height: 150px;
    display: flex;
  }

  #main {
  width: 400px;
  height: 295px;
 display: flex;
}
#main_b {
  width: 400px;
  height: 180px;
 display: flex;
}h1{
  font-size: 24px;
}
h3{
  font-size: 18px;
}
}
@media  (min-width: 540px) {
#main_a {
    width: 500px;
    height: 150px;
    display: flex;
  }

  #main {
  width: 500px;
  height: 295px;
 display: flex;
}
#main_b {
  width: 500px;
  height: 138px;
 display: flex;
}h1{
  font-size: 24px;
}
h3{
  font-size: 18px;
}
}
@media  (min-width: 600px) {
#main_a {
    width: 600px;
    height: 150px;
    display: flex;
  }

  #main {
  width: 600px;
  height: 295px;
 display: flex;
}
#main_b {
  width: 600px;
  height: 97px;
 display: flex;
}
h1{
  font-size: 34px;
}
h3{
  font-size: 28px;
}
}
@media  (min-width: 700px) {
#main_a {
    width: 600px;
    height: 150px;
    display: flex;
  }

  #main {
  width: 600px;
  height: 295px;
 display: flex;
}
#main_b {
  width: 600px;
  height: 90px;
 display: flex;
}
h1{
  font-size: 38px;
}
h3{
  font-size: 28px;
}
}

@media  (min-width: 768px) {
#main_a {
    width: 600px;
    height: 150px;
    display: flex;
  }

  #main {
  width: 600px;
  height: 295px;
 display: flex;
}
#main_b {
  width: 600px;
  height: 85px;
 display: flex;
}
h1{
  font-size: 44px;
}
h3{
  font-size: 28px;
}
}

@media  (min-width: 900px) {
#main_a {
    width: 600px;
    height: 150px;
    display: flex;
  }

  #main {
  width: 600px;
  height: 295px;
 display: flex;
}
#main_b {
  width: 600px;
  height: 70px;
 display: flex;
}
h1{
  font-size: 44px;
}
h3{
  font-size: 28px;
}
}
@media  (min-width: 1024px) {
#main_a {
    width: 881px;
    height: 150px;
    display: flex;
  }

  #main {
  width: 881px;
  height: 295px;
 display: flex;
}
#main_b {
  width: 881px;
  height: 70px;
 display: flex;
}h1{
  font-size: 50px;
}
h3{
  font-size: 28px;
}
}
@media  (min-width: 1440px) {
#main_a {
    width: 881px;
    height: 150px;
    display: flex;
  }

  #main {
  width: 881px;
  height: 295px;
 display: flex;
}
#main_b {
  width: 881px;
  height: 150px;
 display: flex;
}h1{
  font-size: 60px;
  line-height: 1.1;
}
h3{
  font-size: 28px;
  line-height: 1.1;
}
}
.img-instagram{
  border-style:none;  
  vertical-align:top;  
  max-width:100%;  
  height:auto
}
 .quicktags-toolbar input{background:linear-gradient(to top,var(--content_bg_color),var(--form_bg_color)) #3e3e3e}#main,.wrapper_blank #main{background-image:var(--content_bg_image);background-repeat:var(--content_bg_repeat)}#main.full-bg,.wrapper_blank #main.full-bg{background-attachment:fixed;background-position:center center;background-size:cover}.avada-content-bg-not-opaque #main,.avada-content-bg-not-opaque #wrapper,.avada-content-bg-not-opaque .bbp-arrow,.avada-content-bg-not-opaque .fusion-separator .icon-wrapper{background-blend-mode:overlay}html.avada-has-page-background-pattern{background-image:var(--bg_pattern);background-repeat:repeat}html.avada-has-page-background-pattern .layout-boxed-mode .fusion-bottom-frame,html.avada-has-page-background-pattern .layout-boxed-mode .fusion-sides-frame,html.avada-has-page-background-pattern .layout-boxed-mode .fusion-top-frame,html.avada-has-page-background-pattern body{background-image:var(--bg_pattern);background-repeat:repeat}.fusion-load-more-button.fusion-blog-button{background-color:var(--blog_load_more_posts_button_bg_color);color:var(--blog_load_more_posts_button_text_color)}.fusion-load-more-button.fusion-blog-button:hover{background-color:var(--blog_load_more_posts_hover_button_bg_color);color:var(--blog_load_more_posts_hover_button_text_color)}body:not(.search-results) #posts-container .fusion-blog-layout-grid{margin-top:calc((var(--blog_archive_grid_column_spacing))/ -2);margin-right:calc((var(--blog_archive_grid_column_spacing))/ -2);margin-left:calc((var(--blog_archive_grid_column_spacing))/ -2);margin-bottom:0}body:not(.search-results) #posts-container .fusion-blog-layout-grid .fusion-post-grid{padding:calc((var(--blog_archive_grid_column_spacing))/ 2)}.avada-blog-archive-layout-grid .fusion-blog-archive .fusion-blog-layout-grid .post .fusion-post-content-wrapper,.avada-blog-archive-layout-masonry .fusion-blog-archive .fusion-blog-layout-masonry .post .fusion-post-content-wrapper,.avada-blog-archive-layout-timeline .fusion-blog-archive .fusion-blog-layout-timeline .post .fusion-post-content-wrapper,.avada-blog-layout-grid .fusion-blog-archive .fusion-blog-layout-grid .post .fusion-post-content-wrapper,.avada-blog-layout-masonry .fusion-blog-archive .fusion-blog-layout-masonry .post .fusion-post-content-wrapper,.avada-blog-layout-timeline .fusion-blog-archive .fusion-blog-layout-timeline .post .fusion-post-content-wrapper{padding:var(--blog_archive_grid_padding-top) var(--blog_archive_grid_padding-right) var(--blog_archive_grid_padding-bottom) var(--blog_archive_grid_padding-left)}#wrapper .fusion-events-shortcode .fusion-events-meta h4,.fusion-carousel-meta,.fusion-image-wrapper .fusion-rollover .fusion-rollover-content .fusion-rollover-categories,.fusion-image-wrapper .fusion-rollover .fusion-rollover-content .fusion-rollover-categories a,.fusion-meta,.fusion-meta-info,.fusion-recent-posts .columns .column .meta,.fusion-single-line-meta,.post .single-line-meta,.widget_recent_entries .post-date{font-size:var(--meta_font_size)}
   #main .about-author .title a:hover,
   #main .post h2 a:hover,
   #wrapper .fusion-vertical-menu-widget .menu li.current-menu-item>a,
   #wrapper .fusion-vertical-menu-widget .menu li.current_page_ancestor>a,
   #wrapper .fusion-widget-area .current-menu-item>a,
   #wrapper .fusion-widget-area .current-menu-item>a:before,
   #wrapper .fusion-widget-area .current_page_item>a,
   #wrapper .fusion-widget-area .current_page_item>a:before,
   #wrapper .jtwt .jtwt_tweet a:hover,
   .content-box-percentage,
   .fusion-content-widget-area .widget .recentcomments:hover:before,
   .fusion-content-widget-area .widget li a:hover,.fusion-content-widget-area 
   .widget li a:hover:before,.fusion-content-widget-area .widget_archive li a:hover:before,
   .fusion-content-widget-area .widget_categories li a:hover,.fusion-content-widget-area 
   .widget_categories li a:hover:before,.fusion-content-widget-area 
   .widget_links li a:hover:before,.fusion-content-widget-area 
   .widget_nav_menu li a:hover:before,.fusion-content-widget-area .widget_pages li a:hover:before,
   .fusion-content-widget-area .widget_recent_entries li a:hover:before,.fusion-date-and-formats .fusion-format-box i,
   .fusion-open-submenu:hover,.fusion-pagination .next:hover,.fusion-pagination .next:hover:after,
   .fusion-pagination .prev:hover,.fusion-pagination .prev:hover:before,.fusion-read-more:hover:after,
   .more a:hover:after,.pagination .pagination-next:hover:after,.pagination .pagination-prev:hover:before,
   .pagination-next:hover:after,.pagination-prev:hover:before,.price ins .amount,.price>.amount,.project-content 
   .project-info .project-info-box a:hover,.rtl .fusion-read-more:hover:before,.rtl .more a:hover:before,
   .side-nav .arrow:hover:after,.side-nav li.current_page_ancestor>a,.side-nav ul>li.current_page_item>a,
   .single-navigation a[rel=next]:hover:after,.single-navigation a[rel=prev]:hover:before,
   .star-rating span:before,.star-rating:before,a:hover,h5.toggle:hover a
   {
    color:#15879A;
   }
  #nav ul li ul li a, #sticky-nav ul li ul li a, #wrapper #nav ul li ul li > a, #wrapper #sticky-nav ul li ul li > a, .avada-container h3, .comment-form input[type="submit"], .ei-title h3, .fusion-blog-shortcode .fusion-timeline-date, .fusion-body #main .tribe-common .tribe-events-c-day-marker__date, .fusion-body #main .tribe-events .datepicker, .fusion-body .fusion-wrapper #main .tribe-common .tribe-common-h6--min-medium, .fusion-body .tribe-common .tribe-common-b2, .fusion-body .tribe-common .tribe-common-b3, .fusion-image-wrapper .fusion-rollover .fusion-rollover-content .fusion-rollover-categories, .fusion-image-wrapper .fusion-rollover .fusion-rollover-content .fusion-rollover-title, .fusion-image-wrapper .fusion-rollover .fusion-rollover-content .price, .fusion-image-wrapper .fusion-rollover .fusion-rollover-content a, .fusion-load-more-button, .fusion-main-menu .sub-menu, .fusion-main-menu .sub-menu li a, .fusion-megamenu-widgets-container, .fusion-megamenu-wrapper .fusion-megamenu-submenu > a:hover, .fusion-megamenu-wrapper li .fusion-megamenu-title-disabled, .fusion-page-title-bar h3, .gform_page_footer input[type=button], .meta .fusion-date, .more, .post-content blockquote, .review blockquote div strong, .review blockquote q, .ticket-selector-submit-btn[type=submit], .wpcf7-form input[type="submit"], body {
    font-family: var(--body_typography-font-family);
    font-weight: var(--body_typography-font-weight);
    letter-spacing: var(--body_typography-letter-spacing);
}
.img-puntero{
 cursor: pointer;
}